public/jacobo/workflows/enviar-mensaje-wati.json
{
  "name": "EnviarMensajeWati",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "00000000-0000-0000-0000-000000000000",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8d215184-c603-418f-b992-4a0cad3c992e",
      "name": "Webhook",
      "webhookId": "00000000-0000-0000-0000-000000000000"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://live-mt-server.wati.io/YOUR_TENANT/api/v1/sendTemplateMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "whatsappNumber",
              "value": "={{ $json.body.whatsappNumber }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WATI_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_name\": \"urlreparacion2\",\n  \"broadcast_name\": \"EnviarMensajeWatiElevenLabs\",\n  \"parameters\": [\n    {\n      \"name\": \"urlcita\",\n      \"value\": \"{{ $json.body.urlCita }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        0
      ],
      "id": "6109e10c-9238-49b5-9187-9f82d0e4ba17",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "0a9df922-d7ec-40cd-8df3-0642ee049d64",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "id": "WORKFLOW_ID",
  "tags": []
}