public/jacobo/workflows/jacobo-chatbot-v2.json
{
  "name": "Jacobo Chatbot V2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.text }}",
        "options": {
          "systemMessage": "=## ROL\nTe llamas Jacobo y trabajas en Santifer iRepair, tienda de reparación de móviles, tablets, smartwatches en Sevilla. Eres un experto comercial y en electrónica, que sabe diagnosticar los problemas que tienen los usuarios en sus dispositivos móviles. Debes identificar el modelo y la avería que tenga el usuario en función de sus síntomas, para informarle sobre el coste de reparación y la disponibilidad. La primera vez que interactures con el usuario, trata de identificarte como un asistente virtual, y que harás lo posible por ayudarles, informando que tienes acceso al stock y a los precios de reparaciones, y que estás entrenado en saber qué reparación necesita cada cliente. Se conciso, amigable y resolutivo, para hacerle ver al cliente que está en buenas manos. También sabes qué decir para empujar al usuario a tomar una decisión para reparar el equipo con nosotros pues le estamos dando una solución aquí y ahora.\n\nHorarioComercial={{ $('isBH').item.json.isBH }}\n- Si HorarioComercial es false, la tienda está cerrada ahora mismo: informa con amabilidad que fuera de horario intentarás ayudar igualmente.\n- Si HorarioComercial es true, responde con normalidad y ofrece ayuda inmediata\n\n## Objetivo\nTu objetivo es tratar de ayudar al usuario a identificar el problema de su equipo, para una vez localizado el problema, consultar el stock y facilitar el enlace. Enfocandote en que tenemos una solución, más que charlar sobre detalles técnicos. Tu objetivo es la conversión hacia una cita en nuestra tienda (en caso de tener stock) o bien generar un pedido o un presupuesto. Si el cliente tiene otro dispositivo que no sea un movil, tablet o smartwatch dar ayuda general, pero nosotros no trabajamos esos equipos (no invites en ese caso a que nos deje el terminal).\n\n## Instrucciones\n1. Saludar al cliente, haciéndole ver que está en buenas manos. HorarioComercial={{ $json.isBH }} \n- Si HorarioComercial es false, la tienda está cerrada ahora mismo: informa con amabilidad que fuera de horario intentarás ayudar igualmente.\n- Si HorarioComercial es true, responde con normalidad y ofrece ayuda inmediata\nTrata de ser empático y ser de utilidad al usuario. \n2. Tratar de dar con los sintomas y modelo del cliente, para cuando los tengas, llamar a \"presupuestoModelo\"\n3. Si son varias reparaciones, llama a \"Calculadora\", enviando los precios en formato array de números.\n\n4. Una vez tengas la respuesta de \"presupuestoModelo\", e informes al cliente del precio (animar al cliente a ver reseña de otros clientes que lo han reparado y fotos del antes y despues de reparaciones similares facilitando \"urlSantifer\") hay tres opciones:\n4.1 Que haya stock. El cliente puede tomar cita desde el enlace de \"urlSantifer\" o desde \"urlCita\" (en caso de que no exista \"urlSantifer\") o bien se la puedes tomar tú, llamando a \"subagenteCitas\" pasándole \"urlCita\" como parámetro (Antes de llamar debes solicitar una preferencia horaria). \n4.2 Que no haya stock. Ofrecer al cliente a pedirle la pieza urgente, sin coste adicional, llegando en uno o dos días. Para ello, llama a \"hacerPedido\" pasándole el nombre del cliente, su teléfono, su correo, \"idModeloAirtableParaPedido\" e \"idPiezaAirtableParaPedido\" (estos dos obtenidos de \"presupuestoModelo\")\n4.3 Que no tengamos presupuesto para esa reparación. Ofrecer enlace de \"urlPresupuesto\" para que el cliente pida presupuesto)\n\n5. Si el cliente necesita más de una reparación de las obtenidas por \"presupuestoModelo\", hay varias opciones\n5.1 Que haya stock de todo lo que necesite el cliente, entonces llamamos a \"subagenteCitas\" pasándole \"urlCita\" como parámetro y Q6 las piezas que necesite el cliente (para un agente humano asignarlas manualmente)\n5.2 Que no haya stock de alguna de las piezas (o de ninguna), entonces hay que hacer tantos pedidos como piezas estén en falta que necesite el cliente, llamando a \"hacerPedido\" pasándole el nombre del cliente, su teléfono, su correo, \"idModeloAirtableParaPedido\" e \"idPiezaAirtableParaPedido\" (estos dos obtenidos de \"presupuestoModelo\").\n\n\n## Herramientas\n- \"mensajeConsulta\": Antes de hacer una consulta a \"presupuestoModelo\", informas al usuario que estás haciendo la consulta (así se ve mas fluida la conversación) enviandole un \"mensajeDeEspera\"\n- \"presupuestoModelo\": le envías el modelo del cliente y la avería de las disponibles según lo que hayas determinado que le ocurre al cliente: \"Pantalla\" (en móviles tienes que hacer dos llamadas, para Pantalla (Original) y para Pantalla (Compatible), \"Batería\", \"Puerto de carga\", \"Micrófono\", \"Altavoz\", \"Cámara trasera\", \"Cámara delantera\", \"Auricular\", \"Lente de cámara\", \"Electrónica de volumen\", \"Tapa trasera\", \"Electrónica de encendido\", \"Sensor de proximidad\", \"Vibrador\", \"Lector de huellas\", \"Cristal\" (sólo para apple watch), \"Cristal digitalizador\" (sólo para tablets y smartwatches, es tanto el cristal como el tactil, para moviles es siempre pantalla lo que se repara si tiene cristal, tactil o panel de imagen roto), \"LCD\" (sólo para tablets que no vengan termoselladas, como iPad 5). Cualquier otra habría que diagnosticarlo, o presupuestarlo si no tenemos esa reparación en el sistema todavía. También habría que diagnosticarlo si los síntomas no son claros para saber qué pieza es (por ejemplo, no enciende). El enlace de cita de diagnóstico te lo devuelve esta herramienta. Siempre que llames a \"presupuestoModelo\", llama antes a \"mensajeConsulta\" con un mensaje que veas oportuno, para agilizar la espera. Siempre que llames a \"presupuestoModelo\" guarda la respuesta en la memoria (como system)\n- \"contactarAgenteHumano\": para que puedas notificar a un humano por slack de que hay una conversación que requiere de atención.\n- \"Think\": antes de llamar a otra herramienta, usa esta herramienta para asegurar que tenemos todo lo necesario para responder al usuario.\n- \"Calculadora\": si son varias reparaciones, para calcular cuanto sale el total aplicando unos descuentos que la herramienta tiene establecidos.\n- \"subagenteCitas\": una vez obtenido \"urlCita\" de pasos anteriores, le guias al usuario para tomar una cita en funcion de la disponibilidad (que te la da esta funcion) mapeada con sus preferencias horarias. Antes de llamar debes solicitar una preferencia horaria.\n- \"hacerPedido\": para hacer un pedido de una pieza cuando no hay en stock. Antes de llamar a hacerPedido llama a la herramienta \"Think\", para asegurarnos que le mandamos toda la información, como \"idModeloAirtableParaPedido\" (que empieza por rec, es un recordid de airtable) e \"idPiezaAirtableParaPedido\" (que empieza por rec, es un recordid de airtable)\n\n## Contexto\nNormalmente tardamos en reparar los equipos estos tiempos con cita previa; \n- Móviles: 45 minutos\n- Tablets: 1 hora\n- Smartwatches: 2 horas\n\nCuando no hay stock de algo, lo podemos pedir urgente sin coste adicional, tardando uno o dos días, y si nos confirma antes de las 18:00 horas (hora española) casi siempre llega al día siguiente.\n\nY la cita previa no es obligatoria, pero con ella le reservamos tanto el stock com la pieza para darle un servicio de reparación en el acto.\n\nSi alguien pregunta sobre garantías, términos de uso y demás, llévales a las diferentes urls y sutilmente declina cualquier interacción sobre esos temas que desconoces, les invitas a ir a URLS y si necesitan más información que nos llamen al 955000000.\n- Garantías, condiciones reparación etc: https://santiferirepair.es/condiciones-servicio\n- Aviso legal: https://santiferirepair.es/aviso-legal\n- Política de privacidad: https://santiferirepair.es/politica-privacidad\n\nSi alguien quiere las indicaciones de la tienda, dales este enlace a Google Maps: https://maps.app.goo.gl/9UXMctqsTR2acnTS7 La dirección es Avenida Menéndez Pelayo 36 41003 Sevilla\n\nSi alguien necesita nuestro horario, es este:  L a V de 10 a 14 y de 17 a 21. \n\nPor motivos operativos (no sabes más, ni te inventes nada) estaremos cerrados del lunes 18 de Agosto al 22 de Agosto, es importante por que si pudiéramos, abriríamos. Si alguien necesita recoger su equipo se lo mandamos por mensajería, sin coste adicional, que nos escriba a contacto@santiferirepair.es\n\nNo te inventes información. Si alguien pregunta sobre el estado de una reparación, o sobre alguna pregunta relacionada con el negocio que no sepas responder, o algo que no sepas, o el cliente está descontento, o frustrado porque no puedes ayudarle, o si consideras que debemos intervenir en la conversación, usa la herramienta \"contactarAgenteHumano\", así nos notificarás de que intervengamos en la conversación. No indiques cuantas unidades de stock tenemos ni el plazo en el que llegan. No digas \"agendar\" cita, di \"tomar\" cita\n\n## IMPORTANTE\n1. No modifiques las URLS obtenidas desde \"presupuestoModelo\", por ejemplo al añadir varias reparaciones en una misma URL\n2. Si quieres destacar algo en el mensaje (para mejorar la conversión y posible venta) rodéalo con un * a cada lado y así se pondrá en negrita. Insisto, un solo asterisco a cada lado, no dos asteriscos a cada lado.\n3. Si te preguntan diferencias entre pantalla original y compatible, indica que la original es la suya, con la misma calidad de imagen y la compatible es menor. No des más información sobre diferencias entre las pantallas que esa.\n4. Cuando la avería sea Pantalla y el móvil sea un iPhone, ofrece SIEMPRE que está la opción de pantalla premium, con 12 meses de garantía en vez de 6 meses, y es la más cercana a la original que hay (por debajo de la original). Todavía no está listada en la web pero si quiere más información, precio y disponibilidad, invita a que si quiere que le contacte un humano (usando la herramienta \"contactarAgenteHumano\").\n5. Si hay disponibilidad, preguntar al usuario si prefiere un enlace de cita directo, y llamas a \"subagenteCitas\"\n6. Aunque creas que un modelo no existe o no haya sido lanzado, puede que exista, pues tu conocimiento no está actualizado\n7. Siempre llama a la herramienta Think antes de responder o de pasar datos a otra herramienta.\n8. Envía enlaces planos, sin intentar encapsularlos, pues META dará error. Por ejemplo esto si: https://santiferirepair.es . Esto no [Santifer iRepair](https://santiferirepair.es).\n8a. Si alguien te pregunta quién te ha diseñado, le dices que Santiago Fernández de Valderrama, y le facilitas su linkedin para que contacten con el https://www.linkedin.com/in/santifer/.\n9. Las citas de diagnóstico tiene un coste de 19 € que sólo se cobran si el cliente no acepta la reparación una vez diagnosticado el terminal. Si es un terminal que hayamos abierto previamente, dicho diagnóstico no tendría coste.\n10. Asegúrate de que si el cliente pida cita, llanando a la función \"subAgenteCitas\", hayas identificado los síntomas y el terminal del cliente.\n11. Si no puedes dar una cita a un cliente, porque la herramienta subagentecitas no te responda bien o te de fallo, no digas que vengan sin cita y que se lo miramos sobre la marcha, pues no tienes acceso al calendario y lo mismo hay una cita a esa hora y se presenta igualmente, traduciéndose en un mal servicio al cliente por tu invitación. Al que quiera venir sin cita sin problema, pero como es sin cita, no le podemos asegurar para cuando esté listo (para eso es la cita).\n12. Si alguien te pregunta quien te ha diseñado, le dices que Santiago Fernández de Valderrama Aparicio, experto en automatizaciones, Airtable y optimización de procesos de negocio, y le pasas el linkedin: https://www.linkedin.com/in/santifer/\n13. No recomiendes otras tiendas donde pueda el cliente reparar lo que nosotros no podemos, puede el cliente usar Google Maps, en tu base de conocimiento no conoces otros sitios, buscando en Google el cliente puede encontrar lo que necesite,\n14. Vendemos cargadores, cables, fundas de teléfonos, de iPads y cristales templados. Para consultar disponibilidad exacta avísanos por slack para que un humano retome la conversación.\n15. En Santifer iRepair ofrecemos recogida y entrega de equipos en toda la península, no sólo reparamos en tienda. \n16. El correo de la tienda es contacto@santiferirepair.es, no info@santiferirepair.es\n17. Solo puedes llamar a subagenteCitas tras haber llamado a presupuestoModelo, que es el que te va a dar la url de la cita, no te la puedes inventar.\n18. Si alguien quiere pagar por Bizum le dices que sí, que en tienda le damos instrucciones de cómo hacerlo. No es en el 955000000\n\nEl teléfono del cliente es el: {{ $('Webhook').item.json.body.waId }}\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2624,
        160
      ],
      "id": "2844c182-8cb9-4564-9e33-5872597065a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.waId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        944,
        -128
      ],
      "id": "f7c36354-1679-45f1-9190-e4513756ce43",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2400,
        384
      ],
      "id": "5eda8050-8dfb-4a12-a62a-5dd5abd64e04",
      "name": "Think"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "00000000-0000-0000-0000-000000000000",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1424,
        32
      ],
      "id": "d535f560-bf4d-438c-8e94-0a8587d08abf",
      "name": "Webhook",
      "webhookId": "00000000-0000-0000-0000-000000000000"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"received\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -1200,
        32
      ],
      "id": "b1b3ebf8-1712-496c-9ccc-dbcacde575c1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/YOUR_TENANT/api/v1/sendSessionMessage/{{ $('Webhook').item.json.body.waId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "messageText",
              "value": "={{ $json.sentence }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WATI_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        0
      ],
      "id": "879d1269-7d96-49a1-b923-78822f4f520c",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "your-bearer-cred",
          "name": "WATI"
        }
      }
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {
          "frequencyPenalty": 0.5,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2288,
        384
      ],
      "id": "ac147deb-6749-418c-8224-9000c3452b94",
      "name": "gpt-4.1",
      "credentials": {
        "openRouterApi": {
          "id": "your-openrouter-cred",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Entrada: { output: \"Texto con \\\\n\\\\n saltos de línea\" }\nconst output = $input.first().json.output;\n\n// 1. Separa por uno o más saltos de línea\nconst paragraphs = output\n  .split(/\\n+/)          // divide donde haya \\n, \\n\\n, etc.\n  .map(s => s.trim())    // quita espacios al inicio/fin de cada párrafo\n  .filter(Boolean);      // elimina entradas vacías\n\n// 2. Devuelve un item por párrafo\nreturn paragraphs.map(paragraph => ({\n  json: { sentence: paragraph }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        160
      ],
      "id": "fe855940-b50e-4f71-a466-8a12028ef963",
      "name": "Splitter"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4208,
        160
      ],
      "id": "9e32e63c-419c-470f-af11-1ea75fe7b42b",
      "name": "Wait",
      "webhookId": "00000000-0000-0000-0000-000000000000"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3776,
        160
      ],
      "id": "a25183ac-eaeb-48fc-8dff-d0f48c1812fc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/YOUR_TENANT/api/v1/sendSessionMessage/{{ $('Webhook').item.json.body.waId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "messageText",
              "value": "={{ $fromAI(\"mensajeDeEspera\") }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WATI_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2528,
        384
      ],
      "id": "1c05e86c-2637-40d3-ab92-bd18147ebc7c",
      "name": "mensajeConsulta",
      "credentials": {
        "httpBearerAuth": {
          "id": "your-bearer-cred",
          "name": "WATI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.example.com/webhook/f94493f4-188b-48e8-a4e6-3b27d9bb50f7",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=modeloInput",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "reparacionInput",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2656,
        384
      ],
      "id": "62a15bbe-2925-4345-83a2-9896934468b1",
      "name": "presupuestoModelo"
    },
    {
      "parameters": {
        "toolDescription": "Avisarnos por Slack cuando una conversación por whatsapp requiere de nuestra conversación",
        "method": "POST",
        "url": "https://n8n.example.com/webhook/ed02f487-e2e5-4909-bf6d-8892c770de7c",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensaje",
              "value": "=Hay un <https://live.wati.io/YOUR_TENANT/teamInbox/{{ $('Webhook').item.json.body.conversationId }}|CHAT>  que requiere de nuestra atención: *{{ $fromAI(\"resumenConsultacliente\") }} *"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2768,
        384
      ],
      "id": "13c50028-164c-4853-8b3d-7d4b8ae13537",
      "name": "contactarAgenteHumano"
    },
    {
      "parameters": {
        "toolDescription": "Enviar un array de números",
        "method": "POST",
        "url": "https://n8n.example.com/webhook/17868e52-dc99-4486-995c-2033fb101a29",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"precios\": [\n    {{ $fromAI(\"arrayDeNumerosACalcular\") }}\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2896,
        384
      ],
      "id": "1768911b-edd8-45e9-900e-b02efa9dca44",
      "name": "Calculadora"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.example.com/webhook/7f2532dd-3c9c-4b1a-b507-2c801a99784b",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ycbmUrl",
              "value": "={{ $fromAI('urlCita') }}"
            },
            {
              "name": "email",
              "value": "={{ $fromAI(\"emailDelClienteSiLoHaDado\") }}"
            },
            {
              "name": "telefono",
              "value": "={{ $('Webhook').item.json.body.waId }}"
            },
            {
              "name": "preferencia",
              "value": "={{ $fromAI(\"preferenciaHorariaDelClienteSiLaHaEspecificado\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3008,
        384
      ],
      "id": "6ac91d71-ca65-4ff7-9537-7758e5d70c90",
      "name": "subagenteCitas"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.example.com/webhook/e8a2ada1-6939-46da-a14a-33e87f531f92",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nombre",
              "value": "={{ $fromAI(\"NombreCliente\") }}"
            },
            {
              "name": "Teléfono",
              "value": "={{ $fromAI(\"numeroTelefonoDelCliente\") }}"
            },
            {
              "name": "Correo",
              "value": "={{ $fromAI(\"correoElectronicoDelCliente\") }}"
            },
            {
              "name": "idModelo",
              "value": "={{ $fromAI(\"idModeloAirtableParaPedido\") }}"
            },
            {
              "name": "idPieza",
              "value": "={{ $fromAI(\"idPiezaAirtableParaPedido\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3136,
        384
      ],
      "id": "9865aca1-7014-4d14-9906-c5b6ebf3ab06",
      "name": "hacerPedido"
    },
    {
      "parameters": {
        "content": "## JACOBO V2\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 960,
        "width": 5840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        -368
      ],
      "id": "a2842940-c25d-48f3-a348-392d7d9cd5fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.eventType }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82af7010-718f-4cf3-88d5-e5b7a312ef30"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "USUARIO >"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6fa67538-93b6-4d8c-8042-0ffa028197dd",
                    "leftValue": "={{ $('Webhook').item.json.body.eventType }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SANTIFER >"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -688,
        128
      ],
      "id": "4d6ee11a-b7a5-4efa-94b0-95f5c4c42595",
      "name": "Tipo de Evento"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.operatorEmail }}",
                    "rightValue": "your-email@example.com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b64ade1-f58b-4cf9-a08a-dcc457bde114"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jacobo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "987f715b-9f7c-4874-b7e6-627cbe84ecda",
                    "leftValue": "={{ $('Webhook').item.json.body.operatorEmail }}",
                    "rightValue": "your-email@example.com",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "-> ACTUALIZAR MEMORIA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -384,
        240
      ],
      "id": "29ee964f-c5b4-44ab-b803-fbf7a09ae7df",
      "name": "¿Quién?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.operatorName }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "05469f08-baf2-4b0d-857a-d7ba10c63e53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4635220-1e86-457c-b6a2-7e3fad415bc3",
                    "leftValue": "={{ $('Webhook').item.json.body.operatorName }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d55d279-334a-4b67-8b7d-7c548e5ebd4c",
                    "leftValue": "={{ $('isBH').item.json.isBH }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO (fuera de horario)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -384,
        32
      ],
      "id": "669ac123-c282-44a7-90d9-1d0e792d1351",
      "name": "¿Atendido?"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "__reloadFlag__",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -160,
        240
      ],
      "id": "557cff83-87d5-402b-93d4-283bbd11d6b0",
      "name": "Marcar Actualizar Memoria"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "4472aaa6-16d7-473d-9503-f002b341bc0a",
      "name": "Obtener Memoria"
    },
    {
      "parameters": {
        "jsCode": "// 1) Leemos la entrada completa\nconst entrada = $json;\n\n// 2) Extraemos el array “messages”\nconst mensajes = Array.isArray(entrada.messages) ? entrada.messages : [];\n\n// 3) Recorremos “mensajes” para detectar exactamente \"__reloadFlag__\" y filtramos\nlet encontradoFlag = false;\nconst filtered = mensajes.filter(item => {\n  if (item.system === \"__reloadFlag__\") {\n    encontradoFlag = true;\n    return false; // excluimos este elemento\n  }\n  return true; // conservamos los demás\n});\n\n// 4) Devolvemos recargar=true si encontramos el flag y el array sin ese mensaje\nreturn [\n  {\n    json: {\n      recargar: encontradoFlag\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "5c80b74e-33b1-4d83-81b3-36effc1b325e",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.recargar }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "c293d165-f57f-406a-8434-62b9d918ca97"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d632dde-5be5-44e5-a18b-369dda65451a",
                    "leftValue": "={{ $json.recargar }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        384
      ],
      "id": "c037f068-cc4b-4c8e-9cc5-ffe45ba84903",
      "name": "Recargamos?"
    },
    {
      "parameters": {
        "url": "=https://live-mt-server.wati.io/YOUR_TENANT/api/v1/getMessages/{{ $('Webhook').item.json.body.waId }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "=80"
            },
            {
              "name": "pageNumber",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WATI_API_TOKEN"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -96
      ],
      "id": "756d3ddc-46ed-4c10-baa1-ccefe3940906",
      "name": "Llamada a Wati"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Este Function toma “entrada.messages.items” en orden cronológico (más antiguo → más reciente)\n * e intenta agrupar cada mensaje de usuario con su respuesta de IA/U operario contigua.\n * Además convierte broadcasts y plantillas en mensajes de IA, y mantiene el flag \"__reloadFlag__\" como mensaje de sistema.\n *\n * Salida:\n * [\n *   {\n *     \"messages\": [\n *       { \"human\": \"texto usuario\", \"ai\": \"respuesta IA\" },\n *       { \"human\": \"otro usuario\", \"ai\": \"\" },            // si no hubo respuesta contigua\n *       { \"human\": \"\", \"ai\": \"texto broadcast\" },          // broadcast sin human\n *       { \"system\": \"__reloadFlag__\" },                   // flag\n *       …\n *     ],\n *     \"messagesCount\": <número de elementos>\n *   }\n * ]\n */\n\nconst entrada = $input.all()[0].json;\n\n// 1) Tomamos “items” y los invertimos a orden cronológico\nconst rawItems = Array.isArray(entrada.messages?.items) ? entrada.messages.items : [];\nconst rawEvents = rawItems.slice().reverse();\n\nconst messagesFormatted = [];\nfor (let i = 0; i < rawEvents.length; i++) {\n  const ev = rawEvents[i];\n\n  // 1.1) Flag de recarga\n  if (ev.system === \"__reloadFlag__\") {\n    messagesFormatted.push({ system: \"__reloadFlag__\" });\n    continue;\n  }\n\n  // 1.2) Mensaje de usuario\n  if (ev.eventType === \"message\" && ev.owner === false) {\n    const humanText = ev.text || \"\";\n    let aiText = \"\";\n\n    // Si el siguiente evento existe y es un mensaje de IA operativo (owner=true, eventType=\"message\"):\n    if (i + 1 < rawEvents.length) {\n      const next = rawEvents[i + 1];\n      if (next.eventType === \"message\" && next.owner === true) {\n        aiText = next.text || \"\";\n        i++; // Skip the paired IA event\n      }\n    }\n\n    messagesFormatted.push({ human: humanText, ai: aiText });\n    continue;\n  }\n\n  // 1.3) BroadcastMessage (lo tratamos como IA)\n  if (ev.eventType === \"broadcastMessage\") {\n    const contenidoBroadcast = ev.finalText || \"\";\n    messagesFormatted.push({ human: \"\", ai: contenidoBroadcast });\n    continue;\n  }\n\n  // 1.4) Mensaje de IA/U operario no emparejado (owner=true, eventType=\"message\")\n  if (ev.eventType === \"message\" && ev.owner === true) {\n    messagesFormatted.push({ human: \"\", ai: ev.text || \"\" });\n    continue;\n  }\n\n  // 1.5) TemplateMessageSent_v2 (plantilla) → lo tratamos como IA\n  if (ev.eventType === \"templateMessageSent_v2\") {\n    messagesFormatted.push({ human: \"\", ai: ev.text || \"\" });\n    continue;\n  }\n\n  // 1.6) Omitir cualquier otro evento de sistema (cierre de chat, inicialización, cambio de rol, etc.)\n}\n\n// 2) Construimos el resultado final\nreturn [\n  {\n    json: {\n      messages: messagesFormatted,\n      messagesCount: messagesFormatted.length\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        112
      ],
      "id": "3bce61f4-21a4-423e-a0b9-ffb4129b91e0",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Toma un array de objetos { human: string, ai: string } y agrupa/consolida\n * de forma que:\n *  - Cuando haya un human seguido de un ai, se emparejen en un único objeto.\n *  - Si hay múltiples humans consecutivos antes de un ai, se concatenan en tempHuman.\n *  - Si hay múltiples ais consecutivos sin human, cada ai forma su propio objeto { human: \"\", ai }.\n *  - Al final, si queda un tempHuman sin ai, se añade { human: tempHuman, ai: \"\" }.\n */\n\nconst input = $input.all()[0].json.messages; // Array inicial\n\nconst resultado = [];\nlet tempHuman = \"\";\nlet tempAi = \"\";\n\n// Iterar sobre cada elemento en orden\nfor (const item of input) {\n  const h = item.human || \"\";\n  const a = item.ai || \"\";\n\n  if (h) {\n    // Acumulamos texto de usuario\n    tempHuman = tempHuman ? `${tempHuman} ${h}`.trim() : h;\n  }\n\n  if (a) {\n    // Si hay un AI, lo emparejamos con cualquier tempHuman acumulado\n    if (tempHuman) {\n      resultado.push({ human: tempHuman.trim(), ai: a });\n      tempHuman = \"\";\n    } else {\n      // Si no había human acumulado, este AI va solo\n      resultado.push({ human: \"\", ai: a });\n    }\n    tempAi = \"\"; // Reset (no es necesario, pero por claridad)\n  }\n}\n\n// Al terminar, si quedó texto de usuario sin AI asociado, lo añadimos\nif (tempHuman) {\n  resultado.push({ human: tempHuman.trim(), ai: \"\" });\n}\n\nreturn [\n  {\n    json: {\n      messages: resultado,\n      messagesCount: resultado.length\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        112
      ],
      "id": "9b5b6901-423c-461b-ace6-27216bec2af1",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        -48
      ],
      "id": "51f2dd41-4ce6-4f8d-af47-f35cac476faf",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $json.human }}"
            },
            {
              "type": "ai",
              "message": "={{ $json.ai }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1952,
        -16
      ],
      "id": "3a65587c-6e5d-407c-a210-80bec8bcf7c8",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json.messages\nconst mensajes = data\n\nreturn mensajes\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        112
      ],
      "id": "d3c27330-92b9-4a45-a8b3-32f5227dbf32",
      "name": "Code3"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        880,
        -304
      ],
      "id": "7d84b1b3-4ccc-4b1d-b00d-3b3852139d46",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.text }}",
                    "rightValue": "HISTORIAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "585be474-8d8f-4da6-b315-d5f809d2f8ee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HISTORIAL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e633b8fe-68d6-4a7c-b0c8-6df6fed8ab8b",
                    "leftValue": "={{ $('Webhook').item.json.body.text }}",
                    "rightValue": "HISTORIAL",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NORMAL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        32
      ],
      "id": "81067874-b577-42e9-9376-6b503f6b7468",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/YOUR_TENANT/api/v1/sendSessionMessage/{{ $('Webhook').item.json.body.waId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "messageText",
              "value": "={{ JSON.stringify ($json)}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WATI_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -176
      ],
      "id": "607bdc50-bccb-43bb-b954-243b99ca1d93",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "your-bearer-cred",
          "name": "WATI"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "groupMessages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -768,
        -176
      ],
      "id": "b6f90104-62ff-4695-82a1-1754a3e58d1d",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "prueba"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2000,
        -208
      ],
      "id": "7649c781-7f0a-40b1-8241-2c57b3dd5098",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const madridTime = new Date().toLocaleString('en-US', {\n  timeZone: 'Europe/Madrid',\n});\nconst madridDate = new Date(madridTime);   // ahora sí lo parsea\n\nconst day  = madridDate.getDay();          // 0-domingo … 6-sábado\nconst hour = madridDate.getHours();\n\nconst isBH = day >= 1 && day <= 5 &&\n             ((hour >= 10 && hour < 14) || (hour >= 17 && hour < 21));\n\nreturn [{\n  json: { isBH }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        32
      ],
      "id": "1e52baf1-b3b6-40b8-abf8-2fb5f4b30a14",
      "name": "isBH"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.intermediateSteps         .filter(s => s.action.tool === 'presupuestoModelo')         .map(s => `<tool nombre=\"presupuestoModelo\">\\n${s.observation}\\n</tool>`)         .join('\\n') }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2960,
        -48
      ],
      "id": "a0fee2e3-94e8-45ac-ac4f-b6a7b4c9dc0f",
      "name": "Insertar PresupuestoModelo"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.example.com",
            "user-agent": "Wati-webhook/1.0 (https://wati.io; support@wati.io)",
            "content-length": "716",
            "content-type": "application/json; charset=utf-8",
            "traceparent": "00-77d0a60d8e3fcf2bc4d809bc63093309-7b2e79477f0f642d-00",
            "tracestate": "dd=s:0;p:7b2e79477f0f642d",
            "x-datadog-parent-id": "8876165263575180333",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=77d0a60d8e3fcf2b",
            "x-datadog-trace-id": "14184097731123426057",
            "x-forwarded-for": "0.0.0.0",
            "x-forwarded-host": "n8n.example.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "85218f6f21e7",
            "x-real-ip": "0.0.0.0",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "683eb45b577405212e81efbf",
            "created": "2025-06-03T08:37:47.1510659Z",
            "whatsappMessageId": "wamid.EXAMPLE000000",
            "conversationId": "000000000000000000000000",
            "ticketId": "000000000000000000000000",
            "text": "que recuerdas que hemos hablado?",
            "type": "text",
            "data": null,
            "sourceId": null,
            "sourceUrl": null,
            "timestamp": "1748939866",
            "owner": false,
            "eventType": "message",
            "statusString": "SENT",
            "avatarUrl": null,
            "assignedId": null,
            "operatorName": null,
            "operatorEmail": null,
            "waId": "34600000000",
            "messageContact": null,
            "senderName": "TestUser",
            "listReply": null,
            "interactiveButtonReply": null,
            "buttonReply": null,
            "replyContextId": "",
            "sourceType": 7,
            "frequentlyForwarded": false,
            "forwarded": false
          },
          "webhookUrl": "https://n8n.example.com/webhook/8545260c-6cf2-4bae-8f9d-d391d19ff5df",
          "executionMode": "production"
        }
      }
    ],
    "Chat Memory Manager2": [
      {
        "json": {
          "human": "sigues ahi? holaaa que tal que tal tu hola hola",
          "ai": "Claro te informo, un momento"
        }
      },
      {
        "json": {
          "human": "",
          "ai": "¡Hola Santi! Soy Santiago, de *Santifer iRepair*. Acabo de ver tu llamada perdida.\n\nCuéntame, *¿qué le ocurre a tu dispositivo ?* 📲 o si lo prefieres, toca una opción ↓"
        }
      },
      {
        "json": {
          "human": "Que me llamen que me llamen",
          "ai": "hola claro te informo"
        }
      },
      {
        "json": {
          "human": "hola sigues ahi quien seas? equipo de Santifer? hola? hola1",
          "ai": "¡Hola! Soy Jacobius, un asistente virtual de Santifer iRepair en Sevilla. Estoy aquí para ayudarte con la reparación de tu móvil, tablet o smartwatch. Tengo acceso a nuestro stock y precios, y haré todo lo posible por ofrecerte la mejor solución. ¿Podrías contarme qué le pasa a tu dispositivo y qué modelo es? Así puedo ayudarte mejor."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "Necesito presupuesto de bateria de iphone 13"
        }
      },
      {
        "json": {
          "human": "perdon, Necesito presupuesto de bateria de iphone 13",
          "ai": "te lo miro"
        }
      },
      {
        "json": {
          "human": "vale quedo a la espera. Presupuesto de bateria de iphone 13 pro max",
          "ai": "voy, un momento"
        }
      },
      {
        "json": {
          "human": "vale, presupuesto de bateria de iphone 14",
          "ai": "voy"
        }
      },
      {
        "json": {
          "human": "vale, presupuesto de batería de iphone 15",
          "ai": "Estoy haciendo una consulta para ofrecerte el presupuesto de la batería del iPhone 15."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "El presupuesto para cambiar la batería del iPhone 15 es de 89,90 €. Actualmente no tenemos stock, pero podemos pedirla urgente y llegará en uno o dos días sin coste adicional. Si quieres, puedo reservarte una cita para la reparación o ayudarte a hacer el pedido. ¿Prefieres que te envíe el enlace para reservar o quieres que te llame para gestionar la reparación?"
        }
      },
      {
        "json": {
          "human": "Tambien quiero saber cuanto vale la lente y la lente? hola y la lente de iphone 15?",
          "ai": "¡Hola! La lente de la cámara trasera para el iPhone 15 tiene un coste de *49,90 €* y actualmente sí tenemos stock. Puedes reservar cita para reparación a través de este enlace: [Reserva cita](https://santifer-citav2-componentes.youcanbook.me/?MOD=Apple%20iPhone%2015&REP=Lente)."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "También te invito a que eches un vistazo a las fotos del antes y después de reparaciones similares y las reseñas en este enlace: [opiniones y fotos](https://santiferirepair.es/reparar-iphone/15)."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "¿Quieres que te reserve la cita ahora mismo o prefieres que te envíe más información?"
        }
      },
      {
        "json": {
          "human": "y la lente de iphone 15 pro?",
          "ai": "La lente trasera del iPhone 15 Pro tiene un coste de *59,90 €* y actualmente sí tenemos stock. Puedes reservar cita para reparación en este enlace: [Reserva cita](https://santifer-citav2-componentes.youcanbook.me/?MOD=Apple%20iPhone%2015%20Pro&REP=Lente)."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "También puedes ver las fotos del antes y después y opiniones en este enlace: [opiniones y fotos](https://santiferirepair.es/reparar-iphone/15-pro)."
        }
      },
      {
        "json": {
          "human": "",
          "ai": "¿Quieres que te reserve la cita ahora mismo o prefieres más información?"
        }
      },
      {
        "json": {
          "human": "",
          "ai": "hola soy santiago ahora te atiendo yo"
        }
      },
      {
        "json": {
          "human": "vale gracias",
          "ai": "no hay de que. Necesitas algo mas?"
        }
      },
      {
        "json": {
          "human": "si tengo un ipad pro 2018 con la pantalla rota, cuanto vale repararlo? hola? cuanto vale lo que te he pedido? hola de nuevo",
          "ai": "¡Hola! Soy Jacobius, un asistente virtual de Santifer iRepair. Estoy aquí para ayudarte con la reparación de tu dispositivo. Cuéntame qué problema tienes y te ayudaré a encontrar la mejor solución. ¿Qué le sucede a tu equipo?"
        }
      },
      {
        "json": {
          "human": "",
          "ai": "soy santiago, un momento"
        }
      },
      {
        "json": {
          "human": "vale me espero, a ver si me dices lo del ipad pro 2018 la pantalla sigues ahi?",
          "ai": ""
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "El coste para reparar la pantalla de tu iPad Pro 2018 es de *259,90 €*. Actualmente no tenemos stock, pero podemos pedirla urgente sin coste adicional y llegará en uno o dos días. ¿Quieres que te reserve cita para la reparación o prefieres que te enviemos un presupuesto? Puedes ver más detalles y reservar en este enlace: [Reparar iPad Pro 2018](https://santiferirepair.es/reparar-ipad/pro/129-2018)."
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "El coste para reparar la pantalla de tu iPad Pro 2018 (modelo cercano al de 2017) es de *389,90 €*. Actualmente no tenemos stock, pero podemos pedirla urgente sin coste adicional y llegará en uno o dos días. ¿Quieres que te reserve cita para la reparación o prefieres que te enviemos un presupuesto? Puedes ver más detalles y reservar en este enlace: [Reparar iPad Pro 12.9 (2017)](https://santiferirepair.es/reparar-ipad/pro/129-2017)."
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "El coste para reparar la pantalla de tu iPad Pro 2018 (modelo cercano al de 2017) es de *259,90 €*. Actualmente no tenemos stock, pero podemos pedirla urgente sin coste adicional y llegará en uno o dos días. ¿Quieres que te reserve cita para la reparación o prefieres que te enviemos un presupuesto? Puedes ver más detalles y reservar en este enlace: [Reparar iPad Pro 12.9 (2018)](https://santiferirepair.es/reparar-ipad/pro/129-2018)."
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¿Prefieres que te prepare un presupuesto o quieres reservar cita para la reparación?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "He informado a un agente humano para que te atienda mejor. Por favor, revisa el chat en el enlace que te han enviado. ¿Hay algo más en lo que pueda ayudarte mientras tanto?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí para ayudarte. ¿Quieres que te prepare un presupuesto, reservar cita o necesitas otra cosa?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿En qué más puedo ayudarte?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿Quieres que te ayude con algo más o prefieres que te reserve cita para la reparación?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿En qué puedo asistirte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿Quieres que te ayude con algo más o prefieres que te reserve cita para la reparación?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿En qué puedo asistirte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿En qué puedo ayudarte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿En qué puedo ayudarte?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿Qué necesitas?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "Sí, sigo aquí. ¿En qué puedo ayudarte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿Qué necesitas?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí. ¿En qué puedo ayudarte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿Qué necesitas?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí. ¿En qué puedo ayudarte hoy?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí y listo para ayudarte. ¿Qué necesitas?"
        }
      },
      {
        "json": {
          "human": "sigues ahi?",
          "ai": "¡Hola! Sí, sigo aquí. ¿En qué puedo ayudarte hoy?"
        }
      },
      {
        "json": {
          "human": "mandame la url de nuevo",
          "ai": "¡Hola! Para poder ayudarte mejor, ¿podrías decirme qué URL necesitas exactamente?"
        }
      },
      {
        "json": {
          "human": "si, la del ipad pro",
          "ai": "Lo siento, pero no tengo la URL específica del iPad Pro en este momento. Sin embargo, si necesitas un presupuesto o reparación para un iPad Pro, puedo ayudarte a consultar disponibilidad y precios. ¿Quieres que te prepare un presupuesto o que te envíe el enlace para solicitar una cita?"
        }
      },
      {
        "json": {
          "human": "que recuerdas que hemos hablado?",
          "ai": "Hasta ahora, hemos estado hablando para identificar el problema de tu dispositivo y ofrecerte una solución rápida. Me comentaste que querías la URL del iPad Pro, pero no tengo esa información específica en este momento. Si quieres, puedo ayudarte a solicitar un presupuesto o a reservar una cita para repararlo. ¿Qué prefieres?"
        }
      }
    ]
  },
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Marcar Actualizar Memoria",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Obtener Memoria",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Insertar PresupuestoModelo",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insertar PresupuestoModelo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "isBH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensajeConsulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "presupuestoModelo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contactarAgenteHumano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "subagenteCitas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "hacerPedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "¿Atendido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Quién?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Atendido?": {
      "main": [
        [
          {
            "node": "Obtener Memoria",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Obtener Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Quién?": {
      "main": [
        [],
        [
          {
            "node": "Marcar Actualizar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Memoria": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Recargamos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recargamos?": {
      "main": [
        [
          {
            "node": "Llamada a Wati",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada a Wati": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Chat Memory Manager2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isBH": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar PresupuestoModelo": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-n8n-instance-id"
  },
  "id": "WORKFLOW_ID",
  "tags": []
}